body {
    background-color: rgb(240, 245, 245);
}

ul {
    list-style-type: none;
}

ul li {
    height: 17px;
}

ul div {
    height: 20px;
    width: 20px;
    padding-top: 5px;
}

table {
    display: inline-table;
    width: 650px;
    height: 200px;
    border: 1px solid gray;
    border-spacing: 0px;
    font-size: 14px;
}

th {
    display: table-cell;
    border: 1px solid gray;
    background-color: rgb(148, 163, 213);
    color: white;
    height: 20px;
}

#col1,
#col4 {
    border-radius: 8px;
}

td {
    display: table-cell;
    padding-left: 5px;
    border: 1px solid gray;
    width: 100px;
    height: 40px;
    text-align: left;
}

tbody {
    background: rgba(223, 226, 226, 0.707);
}

tbody tr:nth-child(even) {
    background: rgb(211, 211, 218);
}

fieldset {
    width: 350px;
    height: 120px;
    padding-top: 20px;
    margin-bottom: 5px;
    background-color: white;
}

fieldset select {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

fieldset input {
    margin-bottom: 1px;
    margin-left: 70px;
}

#yes {
    margin-bottom: 8px;
    margin-left: 20px;
}

#no {
    margin-bottom: 8px;
    margin-left: 2px;
}

.row2 {
    border-top: 2px solid rgb(12, 84, 118);
}

.button {
    background-color: rgb(16, 151, 43);
    color: white;
    border-radius: 10px;
    margin-left: 300px;
}

.first_column {
    width: 350px;
}

.plus {
    --t: 2px;
    --l: 12px;
    --h: 5px;
    --s: 3px;
    --c1: #fff;
    --c2: rgb(16, 151, 43);
    display: inline-block;
    width: var(--h);
    height: var(--l);
    padding: var(--s);
    background: linear-gradient(var(--c1) 0 0) content-box, linear-gradient(var(--c1) 0 0) content-box, var(--c2);
    background-position: center;
    background-size: 100% var(--t), var(--t) 100%;
    background-repeat: no-repeat;
}

.radius {
    border-radius: 45%;
    border: 1px solid black;
}